{% extends '@SiteBundle/Resources/views/base.html.twig' %}
{% block content %}

    <div itemprop id="content" class="content-wrap" role="main">
	<section class="brief text-left brief-design-one brief-left" id="story" role="region" aria-label="About">
		<div class="section-overlay-layer">
			<div class="container">
				<div class="row">
					<div class="col-md-6 brief-content-two">
						<div class="brief-image-right">
							<img src="{{ asset('bundles/site/img/teste3-3.png') }}" alt="Nossa história">
						</div>
					</div>
					
					<div class="col-md-6 content-section brief-content-one">
						<h2 class="text-left dark-text">Nossa história</h2>
						<div class="colored-line-left">
                        </div>
						<div class="brief-content-text">Nós acreditamos que você mereça um serviço de transporte coletivo de qualidade e preço justo. Por isso, após sofrer por mais de 10 anos com o transporte público, nós resolvemos fundar a Vamos de Go. Com isso, suprimos a falta de qualidade, segurança e conforto no transporte coletivo. 
Nós chegamos para entregar o que você já cansou de pedir para as empresas de transporte público.
                        </div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<article id="post-77" class="contact-page post-77 page type-page status-publish hentry">
		
	<section class="call-to-action ribbon-wrap" id="ribbon" role="region" aria-label="Ribbon">
        <div class="section-overlay-layer">
			<div class="container">

				<div class="row">		
					<div class="col-md-8 col-md-offset-2">
						<h2 class="white-text strong">Transporte coletivo por demanda</h2>
                        <div class="ribbon-subtitle-wrap">Todos sentados, seguros e com muito conforto
                            <p>A era do aperto vai acabar </p>
                        </div><button onclick="window.location='http://bit.ly/2CQYegS'" class="btn btn-primary standard-button" type="button" data-toggle="modal" data-target="#stamp-modal"><span class="screen-reader-text">Ribbon button label:EXPERIMENTE AGORA POR UMA SEMANA</span>EXPERIMENTE AGORA POR UMA SEMANA</button>
					</div>
					<div class="col-md-10 col-md-offset-1 ribbon-image-wrap">
                        <img src="/bundles/site/img/teste.png">
                    </div>
				</div>

				</br>
				</br>
				</br>
				<div class="row">		
					<div class="col-md-8 col-md-offset-2">
						<h2 class="white-text strong">Newsletter</h2>
                        <div class="ribbon-subtitle-wrap">Se inscreve na nossa newsletter para ficar por dentro de cada novidade ;)
                            <p>A era do aperto vai acabar </p>
							<div class="row">
								<div class="col-lg-12">
									<div class="input-group center">
										<input type="text" class="form-control email-newsletter" placeholder="Seu e-mail...">
										<span class="input-group-btn">
											<button class="btn btn-default btn-save-newsletter" type="button">Go!</button>
										</span>
									</div>

									<p class="notice-newsletter notice-newsletter-success" style="color:green; display:none;">E-mail cadastrado com sucesso!</p>
									<p class="notice-newsletter notice-newsletter-duplicated" style="color:red; display:none;">E-mail já cadastrado no sistema.</p>

								</div>
							</div>
						</div>					
					</div>
				</div>
			</div>
		</div>
	</section>

	<script>
		jQuery(document).ready(function(){

			jQuery('.btn-save-newsletter').click(function(){
				var email = jQuery('.email-newsletter').val();

				if (email != "") {
					var url = window.location.href + 'adicionar-newsletter/' + email;
					jQuery.post(url, function(data){
						if (data == 1) {
							jQuery('.notice-newsletter-success').show();
							jQuery('.email-newsletter').val("");
						}
						if (data == 2) {
							jQuery('.notice-newsletter-duplicated').show();
						}

						setTimeout(function(){ jQuery('.notice-newsletter').hide(); }, 3000);
					});
				}
				
			});

			

		});
	</script>

{% endblock %} 
