{% extends '@SiteBundle/Resources/views/base.html.twig' %}
{% block content %}

    <div itemprop id="content" class="content-wrap" role="main">
	<section class="brief text-left brief-design-one brief-left" id="story" role="region" aria-label="About">
		<div class="section-overlay-layer">
			<div class="container">
				<div class="row">
					<div class="col-md-6 brief-content-two">
						<div class="brief-image-right">
							<img src="{{ asset('bundles/site/img/teste3-3.png') }}" alt="Nossa história">
						</div>
					</div>
					
					<div class="col-md-6 content-section brief-content-one">
						<h2 class="text-left dark-text">Nossa história</h2>
						<div class="colored-line-left">
                        </div>
						<div class="brief-content-text">Nós acreditamos que você mereça um serviço de transporte coletivo de qualidade e preço justo. Por isso, após sofrer por mais de 10 anos com o transporte público, nós resolvemos fundar a Vamos de Go. Com isso, suprimos a falta de qualidade, segurança e conforto no transporte coletivo. 
Nós chegamos para entregar o que você já cansou de pedir para as empresas de transporte público.
                        </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="call-to-action ribbon-wrap" id="ribbon" role="region" aria-label="Ribbon">
        <div class="section-overlay-layer">
			<div class="container">

				<div class="row">		
					<div class="col-md-8 col-md-offset-2">
						<h2 class="white-text strong">Transporte coletivo por demanda</h2>
                        <div class="ribbon-subtitle-wrap">Todos sentados, seguros e com muito conforto
                            <p>A era do aperto vai acabar </p>
                        </div><button onclick="window.location='http://bit.ly/2CQYegS'" class="btn btn-primary standard-button" type="button" data-toggle="modal" data-target="#stamp-modal"><span class="screen-reader-text">Ribbon button label:EXPERIMENTE AGORA POR UMA SEMANA</span>EXPERIMENTE AGORA POR UMA SEMANA</button>
					</div>
					<div class="col-md-10 col-md-offset-1 ribbon-image-wrap">
                        <img src="/bundles/site/img/teste.png">
                    </div>
				</div>
				</div>
			</div>
		</div>
	</section>


	{# Newsletter #}
	<div class="container">
		<h2 class="text-left dark-text">Newsletter</h2>
		<p>Se inscreve em nossa newsletter e fique por dentro das novidades da vamos de GO!</p>
		{# <form class="form-inline" > #}
			<div class="form-group">
				<label class="sr-only" for="email">Nome:</label>
				<input type="text" class="form-control name-newsletter field-newsletter" placeholder="Seu nome..."  name="name">
				<span style="color:red; display:none;" class="notice-msg notice-msg-name-newsletter">O nome é obrigatório</span>
			</div>
			<div class="form-group">
				<label class="sr-only" for="email">Email:</label>
				<input type="email" class="form-control email-newsletter field-newsletter" placeholder="Seu email..."  name="email">
				<span style="color:red; display:none;" class="notice-msg notice-msg-email-newsletter">O e-mail é obrigatório</span>
			</div>
			<div class="form-group">
				<label class="sr-only" for="pwd">Telefone:</label>
				<input type="text" class="form-control phone phone-newsletter field-newsletter" placeholder="Seu telefone..." name="phone">
				<span style="color:red; display:none;" class="notice-msg notice-msg-phone-newsletter">O telefone é obrigatório</span>
			</div>
			
			<p class="notice-newsletter notice-newsletter-sucess" style="color:green; display:none;">E-mail cadastrado com sucesso!</p>
			<p class="notice-newsletter notice-newsletter-error" style="color:red; display:none;">Ocorreu um erro ao cadastrar o e-mail</p>
			<p class="notice-newsletter notice-newsletter-duplicated" style="color:red; display:none;">E-mail já cadastrado no sistema.</p>


			<div style="cursor:pointer;" class="btn btn-primary standard-button btn-save-newsletter">Salvar</div>
					
		{# </form> #}
	</div>

	<script>
		jQuery(document).ready(function(){

			jQuery('.btn-save-newsletter').click(function(){

				var email = jQuery('.email-newsletter').val();
				var name  = jQuery('.name-newsletter').val();
				var phone = jQuery('.phone-newsletter').val();

				if (name == "") {
					jQuery('.notice-msg-name-newsletter').show();
					return false;
				}

				if (email == "") {
					jQuery('.notice-msg-email-newsletter').show();
					return false;
				}

				if (phone == "") {
					jQuery('.notice-msg-phone-newsletter').show();
					return false;
				}	

				var url = window.location.href + 'adicionar-newsletter/' + email + '/' + name + '/' + phone;

				jQuery.post(url, function(data){
					if (data == 1) {
						jQuery('.notice-newsletter-sucess').show();
						jQuery('.email-newsletter').val("");
						jQuery('.name-newsletter').val("");
						jQuery('.phone-newsletter').val("");
					}
					if (data == 2) {
						jQuery('.notice-newsletter-duplicated').show();
					}

					setTimeout(function(){ jQuery('.notice-newsletter').hide(); }, 3000);
				});
				
			});

			jQuery('.field-newsletter').click(function() {
				jQuery('.notice-msg').hide();
			});

		});
	</script>

{% endblock %} 
