{% extends '@SiteBundle/Resources/views/base.html.twig' %}
{% block content %}
<div class="container">
	
		
		<div id="primary" class="content-area 
		col-md-12">
			<main itemscope="" itemtype="http://schema.org/WebPageElement" itemprop="mainContentOfPage" id="main" class="site-main" role="main">

			
				
<article id="post-132" class="post-132 page type-page status-publish hentry">

	  <header class="entry-header">
 <h1 class="entry-title single-title" itemprop="headline">Seja Parceiro</h1> <div class="colored-line-left"></div>
 <div class="clearfix"></div>
  </header><!-- .entry-header -->
	
	<div class="entry-content content-page 
	" itemprop="text">
		<p style="text-align: center;"><code><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeemL3AA3azw3lecV_nSLwrsk1_V8R5u-QPGfizpb9zlgCtRg/viewform?embedded=true" width="1024" height="1400" frameborder="0" marginwidth="0" marginheight="0">Carregando…</iframe></code></p>
			</div><!-- .entry-content -->

	<footer class="entry-footer">
			</footer><!-- .fentry-footer -->
</article><!-- #post-## -->

				
			
			</main><!-- #main -->
		</div><!-- #primary -->
		
				
	</div>
{% endblock %} 


