{% extends '@SiteBundle/Resources/views/base.html.twig' %}
{% block content %}
<div class="container">
	
		
		<div id="primary" class="content-area 
		col-md-12">
			<main itemscope="" itemtype="http://schema.org/WebPageElement" itemprop="mainContentOfPage" id="main" class="site-main" role="main">

			
				
<article id="post-141" class="post-141 page type-page status-publish hentry">

	  <header class="entry-header">
 <h1 class="entry-title single-title" itemprop="headline">Experimente Agora</h1> <div class="colored-line-left"></div>
 <div class="clearfix"></div>
  </header><!-- .entry-header -->
	
	<div class="entry-content content-page 
	" itemprop="text">
		<h4 style="text-align: center;">Experimente nosso serviço por uma semana, de segunda a sábado, por R$49,90</h4>
<h3><img class=" wp-image-142 aligncenter" src="http://vamosdego.com/wp-content/uploads/2018/01/Sem-título-1-300x225.png" alt="" width="756" height="567" srcset="http://vamosdego.com/wp-content/uploads/2018/01/Sem-título-1-300x225.png 300w, http://vamosdego.com/wp-content/uploads/2018/01/Sem-título-1-768x576.png 768w, http://vamosdego.com/wp-content/uploads/2018/01/Sem-título-1-1024x768.png 1024w, http://vamosdego.com/wp-content/uploads/2018/01/Sem-título-1.png 1200w" sizes="(max-width: 756px) 100vw, 756px"></h3>
<h4></h4>
<p><code></code></p><code>
<div align="center"><!-- INICIO FORMULARIO BOTAO PAGSEGURO --><p></p>
<form action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add" method="post" onsubmit="PagSeguroLightbox(this); return false;">
<!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO --><br>
<input type="hidden" name="itemCode" value="B9379E0BAFAFA3F2246F4F9AFB0542A3"><br>
<input type="hidden" name="iot" value="button"><br>
<input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/120x53-comprar-azul.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!"><br>
</form>
<p><script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script><br>
<!-- FINAL FORMULARIO BOTAO PAGSEGURO -->&gt;
</p></div>
</code><p><code></code></p>
			</div><!-- .entry-content -->

	<footer class="entry-footer">
			</footer><!-- .fentry-footer -->
</article><!-- #post-## -->

				
			
			</main><!-- #main -->
		</div><!-- #primary -->
		
				
	</div>
{% endblock %} 


