{% extends '@SiteBundle/Resources/views/base.html.twig' %}
{% block content %}
<div class="container">	
	<div id="primary" class="content-area col-md-6">
		<main itemscope="" itemtype="http://schema.org/WebPageElement" itemprop="mainContentOfPage" id="main" class="site-main" role="main">
            <article id="post-141" class="post-141 page type-page status-publish hentry">
	            <header class="entry-header">
                    <h1 class="entry-title single-title" itemprop="headline">Parabéns!</h1> 
                    <div class="colored-line-left"></div>
                    <div class="clearfix"></div>
                </header>
	            <div class="entry-content content-page" itemprop="text">
		            <h4 style="text-align: left;">Seu cadastro foi realizado com sucesso, agora basta esperar a ligação de um dos nossos consultores</h4>
                    <a href="{{ path('home') }}">Voltar para home</a>
			    </div>
	            <footer class="entry-footer">
			    </footer>
            </article>
		</main>
	</div>
</div>

{% endblock %} 


