{% extends '@SiteBundle/Resources/views/base.html.twig' %}
{% block content %}

	<article id="post-77" class="contact-page post-77 page type-page status-publish hentry">
		<div class="container">
			<div class="col-md-12">
				<h2 class="dark-text strong">Cadastre-se ;)</h2>

				<div class="pirate_forms_wrap">

					{% if app.request.get('status') and app.request.get('status') == 1 %}
						<p style="color:green; font-size:28px">Cadastro realizado com sucesso!</p>
					{% endif %}

					{% if app.request.get('status') and app.request.get('status') == 2 %}
						<p style="color:red; font-size:28px">Erro ao realizar o cadastro</p>
					{% endif %}

					{% if app.request.get('status') and app.request.get('status') == 3 %}
						<p style="color:red; font-size:28px">E-mail já cadastrado</p>
					{% endif %}

					{{ form_start(form, {attr: {class: 'pirate_forms  form_honeypot-on pirate_forms_from_widget-on wordpress-nonce-on pirate-forms-contact-name-on pirate-forms-contact-email-on pirate-forms-contact-subject-on pirate-forms-contact-message-on pirate-forms-contact-submit-on pirate-forms-contact-referrer-on'} }) }}
					{{ form_end(form) }}
				</div>
			</div>
			<footer class="entry-footer">
			</footer>
		</div>
	</article>
	<hr>

    <div itemprop id="content" class="content-wrap" role="main">
	<section class="brief text-left brief-design-one brief-left" id="story" role="region" aria-label="About">
		<div class="section-overlay-layer">
			<div class="container">
				<div class="row">
					<div class="col-md-6 brief-content-two">
						<div class="brief-image-right">
							<img src="{{ asset('bundles/img/teste3-3.png') }}" alt="Nossa história">
						</div>
					</div>
					
					<div class="col-md-6 content-section brief-content-one">
						<h2 class="text-left dark-text">Nossa história</h2>
						<div class="colored-line-left">
                        </div>
						<div class="brief-content-text">Nós acreditamos que você mereça um serviço de transporte coletivo de qualidade e preço justo. Por isso, após sofrer por mais de 10 anos com o transporte público, nós resolvemos fundar a Vamos de Go. Com isso, suprimos a falta de qualidade, segurança e conforto no transporte coletivo. 
Nós chegamos para entregar o que você já cansou de pedir para as empresas de transporte público.
                        </div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="call-to-action ribbon-wrap" id="ribbon" role="region" aria-label="Ribbon">
        <div class="section-overlay-layer">
			<div class="container">
				<div class="row">		
					<div class="col-md-8 col-md-offset-2">
						<h2 class="white-text strong">Transporte coletivo por demanda</h2>
                        <div class="ribbon-subtitle-wrap">Todos sentados, seguros e com muito conforto
                            <p>A era do aperto vai acabar </p>
                        </div><button onclick="window.location='http://bit.ly/2CQYegS'" class="btn btn-primary standard-button" type="button" data-toggle="modal" data-target="#stamp-modal"><span class="screen-reader-text">Ribbon button label:EXPERIMENTE AGORA POR UMA SEMANA</span>EXPERIMENTE AGORA POR UMA SEMANA</button>
					</div>
					<div class="col-md-10 col-md-offset-1 ribbon-image-wrap">
                        <img src="{{ asset('bundles/img/teste.png') }}" >
                    </div>
				</div>
			</div>
		</div>
	</section>

{% endblock %} 
